[submodule "ThriftTsConfig"]
    path = ThriftTsConfig
    url = https://github.com/PinewoodRobotics/ThriftTsConfig.git

[submodule "src/proto"]
    path = src/proto
    url = https://github.com/PinewoodRobotics/proto.git
[submodule "src/backend/cpp/CudaTags"]
	path = src/backend/cpp/CudaTags
	url = https://github.com/PinewoodRobotics/CudaTags.git
